<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Login</title>
    <%- include('./components/head') %>

</head>

<body>
    <header>
        <img src="images/dog.svg">
        <h1> Puppy zoekt Baasje</h1>


        <a href="/puppy-filteren">Filteren </a>
        <a href="/puppy-toevoegen">Puppy toevoegen</a>
    </header>

    <h2> Beschikbare puppy's</h2>
    <div class="puppyContainer">
        <% results.forEach(function(puppy) { %>

        <article class="aanbodPuppy">
            <h3> <%= puppy.name %> </h3>
            <img src="<%= typeof file != 'undefined' ? file: '' %>">

            <p> <%= puppy.ras  %> </p>
            <p> <%= puppy.gender %> </p>
            <p> <%= puppy.kleur %></p>
            <p> <%= puppy.geboortedatum %> </p>




        </article>
    </div>
    <% }) %>








</body>

</html>