<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Login</title>
    <%- include('./components/head') %>

</head>

<body>
    <header>
        <img src="images/dog.svg">
        <h1> Puppy zoekt Baasje</h1>


        <a href="/puppy-filteren"> <button class="dogbut" id="filterbut"> </button> </a>
        <li><a href="/puppy-toevoegen"><button class="dogbut"> Puppy toevoegen</a></li>
    </header>

<h1> Halloo puppy</h1>
        <% results.forEach(function(puppy) { %>

        <article>
            <h1> <%= puppy.name %> </h1>
            <img src="../public/images/Chihuahua.jpg">
            <h1> <%= puppy.ras  %> </h1>
            <h1> <%= puppy.gender %> </h1>
            <h1> <%= puppy.kleur %></h1>
            <h1> <%= puppy.geboortedatum %> </h1>




        </article>

        <% }) %>








</body>

</html>